
// COLORS
$primary-color: #007bff;
$secondary-color: #6c757d;
$positive-color: #2ecc71;
$negative-color: #c0392b;
$white: #fff;
$dark: #333;
$background-color: #f4f4fd;

// FONTS
$font-xl: 24px;
$font-l: 20px;
$font-m: 15px;
$font-s: 12px;
$font-xs: 10px;